<header class="page-header">
     <h1 class="project-name">
       <a class="header-link" href="{{ site.baseurl }}/">
         {{ site.title }}
       </a>
     </h1>

     {% if site.description %}
     <h3 style="font-weight: lighter;">
       {{ site.description }}
     </h3>
     {% endif %}

     {% if site.twitter_username %}
       <h3>
         <a class="header-link" href="http://twitter.com/{{ site.twitter_username }}" target="_blank">
           follow @{{ site.twitter_username }}
         </a>
       </h3>
     {% endif %}
</header>
